#chat-btn {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#chat-btn:hover {
    background: #ffffff32;
}

#chat-btn:hover > #chat-tooltip {
    display: block;
}

#chat-tooltip {
    background-color: #040109;
    padding: 3px 6px;
    border-radius: 0.4rem;
    color: #FFFFFF;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    z-index: 2000;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 63px;
    display: none;
}
